/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/storage/app/public/avatars/
/storage/app/public/items/
/storage/app/rwdz/
/storage/app/import/
/storage/app/ekw/
/cert
storage/app/laravel-db-snapshots/
/storage/app/public/files/
/storage/app/files/
/_ide_helper.php
public/assets/js/all.js
public/assets/js/api.js
public/assets/js/services/
public/assets/js/auth/
storage/app/google-calendar/
public/mix-manifest.json
/storage/app/teryt/
/storage/app/netstork.xlsx
/storage/app/leads.xlsx
/storage/app/routers.csv
/storage/app/items_list.xlsx
/storage/app/items_stock_list.xlsx
public/js/app.js
storage/app/attachments
